body { background-color: black; }

img { width: 100%; height: auto; /* box-shadow: 0px 0px 15px rgba(100,100,100,.5); */ }

#images { margin: 0px auto; max-width: 1920px; max-height: 1080px; overflow: hidden; background-color: black; background-image: url("../images/loading.gif"); background-position: center center; background-repeat: no-repeat; }

.image-sm { width: 160px; height: 160px; }
.image-lg { width: 320px; height: 320px; }