body { background:#000; overflow-y: hidden; }

img { width: 100%; height: auto; /* box-shadow: 0px 0px 15px rgba(100,100,100,.5); */ }

.image { overflow: hidden; }

#images { margin: 0px auto; padding: 0px; /* max-width: 1920px; max-height: 1080px; */ overflow: hidden; }

@media (min-width: 480px){
    .row {
    	margin-top: -1px;  /*added to eliminate holes that show the background*/
        margin-right: 0;
        margin-left: 0;
        /* max-width: 1920px; */
        overflow-x: hidden;
    }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
}